<footer>
    <a class="tothetop" href="javascript:;">
        <i class="icon-angle-up"></i>
    </a>
    <span id="contact-icon">
        <i class="fa fa-envelope fa-4x"></i>
    </span>
    <div id="contact">
        <div class="contact-details">
            <h3>联系我们</h3>
            <div class="text-field-name-1">
                <form>
                    <input type="text" class="text" value="名字" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '名字';}">
                    <input type="text" class="text" value="住址" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '住址';}">
                    <input type="text" class="text" value="邮箱" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '邮箱';}">
                    <input type="text" class="text" value="电话" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '电话';}">
                    <input type="text" class="text" value="您的问题" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '您的问题';}">
                </form>
            </div>
            <input type="submit" value="发送信息">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="layout-myIcon" href="/index"></a>
                <h4>Bevis Shen <a href="https://github.com/utopia1991/bevis" target="_blank"><i class="fa fa-fw fa-github"></i> Github: utopia1991</a></h4>
                <h4>Node.js & Front End Engineer</h4>
            </div>
            <div class="col-sm-4">
                <h4>Bevis Website</h4>
                <ul class="list-unstyled social-stream">
                    <li><a class="defautFont" href="/index">Home</a> - <a class="defautFont"
                                                                          href="/landpage">Landpage</a></li>
                    <li><a class="defautFont" href="/information">Information</a> - <a class="defautFont"
                                                                                       href="/article">Article</a></li>
                    <li><a class="defautFont" href="/about">About Me</a> - <a class="defautFont" href="/map">Travel</a>
                    </li>
                    <li><a class="defautFont" href="/fiveElement">Five Element</a> - <a class="defautFont" href="/logo">Logo</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Contact Me</h4>
                <ul class="list-unstyled company-info">
                    <li><i class="fa fa-fw fa-map-marker"></i> <a class="defautFont">Software, Xiamen, Fujian In
                        China</a></li>
                    <li><i class="fa fa-fw fa-phone"></i> <a class="defautFont">13023981769</a></li>
                    <li><i class="fa fa-fw fa-envelope-o"></i> <a class="defautFont">1304354608@qq.com</a></li>
                    <li><i class="fa fa-fw fa-clock-o"></i> <a class="defautFont">Monday - Friday: 8:00 am - 7:00
                        pm</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p class="text-left">
                    Copyright © 2016-2017 by Bevis Shen
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <div class="social-links">
                    <a href="/wechat">
                        <i class="fa fa-wechat fa-fw"></i>
                    </a>
                    <a href="https://weibo.com/u/2619492527/home" target="_blank">
                        <i class="fa fa-weibo fa-fw"></i>
                    </a>
                    <a href="https://twitter.com/bevis_shen">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                    <a href="https://www.facebook.com/bevis1991">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a href="https://www.instagram.com/bevis19910619">
                        <i class="fa fa-instagram fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>