<header>
    <div class="container">
        <div id="navbar">
            <a href="#" class="menubtn"></a>
            <div id="hamburgermenu">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/information">Information</a></li>
                    <li><a href="/landpage">Landpage</a></li>
                    <li><a href="/article">Article</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/map">Travel</a></li>
                    <li><a href="/rain">Rain</a></li>
                </ul>
                <a class="bike bikeAni" href="/game"></a>
            </div>
        </div>
        <div class="layout-title">
            <span class="headLogin">
                <span class="headLoginButton hide">
                    <a href="/login" id="login">Login</a>
                    <a href="/register" id="logout">Logout</a>
                </span>
                <span class="layout-myIcon" id="userLogo"></span>
            </span>
            <span class="defautFont largeFont layout-myName">{{head}}</span>
        </div>
        <div id="weather">
            <script>
                $('#weather').leoweather({format: '<div><i class="icon-{图标}"></i></div><p>{城市} {昼夜} {天气} {气温}℃</p>'});
            </script>
        </div>
        <hr>
        <div class="collapse navbar-collapse" id="main-navigation">
            <p class="nav navbar-nav navbar-left">
                <i class="fa fa-fw fa-google"></i> <a href="mailto:bevis19910619@gmail.com">bevis19910619@gmail.com</a>
            </p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index">Home</a></li>
                <li><a href="/landpage">Landpage</a></li>
                <li><a href="/information">Information</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/article">Article</a></li>
                <li><a href="/map">Travel</a></li>
                <li><a href="/rain">Rain</a></li>
                <li><a href="/fiveElement">Five Element</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
        </div>
        <div class="overlay"></div>
    </div>
</header>