{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/common/about.less"/>
{{/extend}}

<div class="container center">
    <span class="rotateIntroduction"></span>
    <span class="wordIntroduction">
        Bevis
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="book">
                <div class="book__cover">
                    <div class="book__back"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-left">
            <ul class="list-unstyled whyuslist">
                <li><i class="icon-checkmark2 text-default"></i> 2 years of experience on development</li>
                <li><i class="icon-checkmark2 text-default"></i> Owner 1 billion happy stabel clients</li>
                <li><i class="icon-checkmark2 text-default"></i> Grate in HTML5 & CSS3 web design</li>
                <li><i class="icon-checkmark2 text-default"></i> Graduate from Nanjing University</li>
                <li><i class="icon-checkmark2 text-default"></i> Headquarters in Xiamen Software</li>
                <li class="text-right"><i class="icon-pacman text-default"></i> and more...</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p class="aboutP">Welcome, guys!</p>
            <p class="aboutP">I am Bevis Shen</p>
            <p class="aboutP">Node.js Engineer</p>
            <p class="aboutP">Front End Engineer</p>
            <p class="aboutP">
                <input id="copyLink" value="I AM A AWESOME MAN!"/>
                <button id="copyButton">copy</button>
            </p>
        </div>
    </div>
</div>
<section class="hero-banner">
    <div class="container">
        <div class="row text-justify">
            <div class="col-sm-5">
                <h2 class="text-primary top-10">Bevis Shen</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.cillum dolore eu fugiat nulla pariatur.
                cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="col-sm-7">
                <b>Html 5</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="300" data-percentage="89" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>Javascript</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="600" data-percentage="75" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>Css 3</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="900" data-percentage="82" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <b>Express</b>
                <div class="progress animated-progressbar">
                    <div class="progress-bar" data-delay="1200" data-percentage="78" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="0">
                <i class="icon-md icon-code3"></i>
                <h4>CLEAN CODING</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300">
                <i class="icon-md icon-paint-format"></i>
                <h4>SIMPLE & ELEGANT DESIGN</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="600">
                <i class="icon-md icon-users2"></i>
                <h4>HAPPY CLIENTS</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="150">
                <i class="icon-md icon-mobile3"></i>
                <h4>MOBILE DEVELOPMENT</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="450">
                <i class="icon-md icon-camera4"></i>
                <h4>PICTURE PERFECT WEBSITES</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="750">
                <i class="icon-md icon-support"></i>
                <h4>CUSTOMER SUPPORT</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident.</p>
            </div>
        </div>
    </div>
</section>

{{#extend "scripts"}}
    <script type="text/javascript" src="/js/base/appear.js"></script>
{{/extend}}