{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/level/level.less"/>
{{/extend}}

<article>
    <h1>Your Level</h1>
    <div class="mature-progress">
        <div class="mature-progress-bottom">
            <div class="mature-progress-box v0" id="progress">
                <dl>
                    <dt>0</dt>
                    <dd><span class="member-ico v0"></span>VIP 1</dd>
                </dl>
                <dl>
                    <dt>200</dt>
                    <dd><span class="member-ico v1"></span>VIP 2</dd>
                </dl>
                <dl>
                    <dt>1000</dt>
                    <dd><span class="member-ico v2"></span>VIP 3</dd>
                </dl>
                <dl>
                    <dt>5000</dt>
                    <dd><span class="member-ico v3"></span>VIP 4</dd>
                </dl>
                <dl>
                    <dt>10000</dt>
                    <dd><span class="member-ico v4"></span>VIP 5</dd>
                </dl>
                <!--配置的数值为 data-progress-->
                <div class="progress-box" id="progress_content" data-progress="6000">
                    <i class="progress-box-1"></i>
                    <i class="progress-box-2"></i>
                    <i class="progress-box-3"></i>
                    <i class="progress-box-4"></i>
                    <i class="progress-box-5"></i>
                </div>
            </div>
            <div class="mature-progress-box bgtwos">
                <dl>
                    <dt></dt>
                </dl>
                <dl>
                    <dt></dt>
                </dl>
                <dl>
                    <dt></dt>
                </dl>
                <dl>
                    <dt></dt>
                </dl>
                <dl>
                    <dt></dt>
                </dl>
            </div>
        </div>
    </div>
    <h1>Article List</h1>
    <hr class="special">
    {{#each entries}}
        <a class="indexTitle" href="/article/{{essay}}">{{title}}</a>
        </br>
        <a class="articleTitle">时间: {{published}}</a>
        <p>{{body}}</p>
        <hr class="special">
    {{/each}}
    <a class="indexTitle aboutArticle jumpGoogle" href="/aboutArticle">About Article</a>
</article>

{{#extend "scripts"}}
    <script type="text/javascript" src="/js/level.js"></script>
{{/extend}}