<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/images/icons/icon.png"/>
    <link rel="stylesheet/less" type="text/css" href="/less/common/common.less"/>
    <link rel="stylesheet/less" type="text/css" href="/less/libs/jquery.fullPage.less"/>
    <link rel="stylesheet/less" type="text/css" href="/less/scroll/scroll.less"/>
    <script type="text/javascript" src="/js/libs/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/libs/less.js"></script>
</head>
<body>
<div id="fullpage">
    <div class="section active" id="section0">
        <h1 class="character">Sea</h1>
    </div>
    <div class="section" id="section1">
        <div class="slide">
            <h1 class="character">Forest</h1>
            <audio controls="" data-autoplay>
                <source src="/songs/1.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="slide">
            <h1 class="character">And text</h1>
            <audio controls="" data-autoplay>
                <source src="/songs/2.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="slide">
            <h1 class="character">And more text</h1>
            <audio controls="" data-autoplay>
                <source src="/songs/3.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>
    <div class="section" id="section2">
        <h1 class="character">Wind</h1>
    </div>
    <div class="section" id="section3">
        <h1 class="character">Snow</h1>
    </div>
    <div class="section" id="section4">
        <h1 class="character">Rock</h1>
    </div>
</div>
<script type="text/javascript" src="/js/libs/jquery.fullPage.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            navigation: true,
            navigationPosition: 'right',
            resize: false,
            responsive: 300,
            loopTop: false,
            loopBottom: false
        });
    });
</script>
</body>
</html>