{{#extend "stylesheets"}}
	<link rel="stylesheet" type="text/css" href="/css/common/index.css"/>
	<link rel="stylesheet" type="text/css" href="/css/common/magnific-popup.css"/>
{{/extend}}

{{#extend "libs"}}
	<script src="/js/libs/jquery.magnific-popup.min.js"></script>
	<script src="/js/libs/isotope/isotope.min.js"></script>
{{/extend}}

<!-- 轮播 -->
<section id="lun">
	<textarea spellcheck="false" class="textarea"></textarea>
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<a href="#"><img src="/images/slider/bg.png" alt=""></a>
			</div>
			<div class="item">
				<a href="#"><img src="/images/slider/banner4.jpg" alt=""></a>
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">
			<div>
				<img src="/images/slider/left.png"/>
			</div>
		</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">
			<div>
				<img src="/images/slider/right.png"/>
			</div>
		</a>
	</div>
</section>

<section class="product-block">
	<div class="container">
		<div class="row stacked">
			<div class="col-sm-4" data-animate="fadeInLeft" data-delay="600" style="color:#fff;">
				<h2><b>ADMIN PANEL</b> THAT CAN FIT ALL YOUR PROJECTS</h2>
				<p>
					Vivamus tempus luctus nunc, eu euismod ex molestie vel. Mauris dolor neque, vehicula et ultricies
					ut, elementum sit amet mi. Curabitur rutrum urna ipsum. Etiam sed lacinia dolor, at posuere
					libero. Sed quis ullamcorper justo.
				</p>
				<p class="text-muted text-sm">
					In hac habitasse platea dictumst. Maecenas ut dolor eu velit ornare malesuada. Nullam iaculis mi
					nec arcu condimentum, sed viverra enim ornare.
				</p>
			</div>
			<div class="col-sm-8">
				<img src="/images/background/featured.png" class="image-sized" data-animate="fadeInRight" data-delay="600">
			</div>
		</div>
	</div>
</section>

<section class="subscribe-block texs-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" data-animate="fadeInLeft" data-delay="300">
				<h1>Welcome Subscribe Me</h1>
				<p>Everyone can subscribe me in github, twitter, google+ and so on. I'm Bevis.</p>
				<hr class="divider">
				<form action="" role="form">
					<input type="text" placeholder="Or you can send your email address to me now" name="subscribe-input" id="subscribe-input" class="form-control input-lg"/>
					<a class="btn btn-primary btn-lg subscribe-btn">Submit</a>
				</form>
			</div>
		</div>
	</div>
</section>

{{#extend "scripts"}}
	<script src="/js/base/appear.js"></script>
	<script src="/js/index/index.js"></script>
	<script src="/js/libs/jquery.typetype.min.js"></script>
	<script>
    function flashTextarea(){
      $('.ta').css({'outline':'1px solid rgba(255,255,0,0.7)'});
      setTimeout(function(){
        $('.ta').css({'outline':'1px solid rgba(255,255,0,0)'})
      },50)
    }

    $(function(){
      $('#usage').click(function(){
        this.focus();
        this.select()
      });
      $('.textarea').focus()
        .typetype("Hi, Jingjing Zhang! My name is Bevis Shen, Chinese name is Shen Hao. I am from Fujian, China. My job is a Node.js Engineer.", {
          callback: function() {
            $('body').addClass('reveal')
          }
        }).delay(1500)
        .typetype("\nI love you, so I give the type to you.")
        .typetype("\nHei, Do you think it is so awesome! Right?",{
          keypress:flashTextarea,
          t:60,
          e:0
        })
        .typetype("Enh,what I want to say next...", {
          t:200,
          e:0.1,     // the default error rate is 0.04
          callback: function(){
            $("#usage").addClass('show')
          }
        })
        .backspace(48)
        .typetype("OH,I Love You, Jingjing Zhang!")
    });
	</script>
{{/extend}}
