{{#extend "stylesheets"}}
	<link rel="stylesheet/less" type="text/css" href="/less/landpage/landpage.less"/>
	<link rel="stylesheet/less" type="text/css" href="/less/music/music.less"/>
	<link rel="stylesheet/less" type="text/css" href="/less/common/goods.less"/>
{{/extend}}

{{#extend "libs"}}
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
{{/extend}}

<div class="banner">
		<div class="container">
				<div class="head-nav">
						<span class="menu"></span>
						<ul class="cl-effect-7">
								<li><a href="/blowup" class="scroll" target="_blank">放大</a></li>
								<li><a href="/lottery" class="scroll" target="_blank">轮盘</a></li>
								<li><a href="/rain" class="scroll" target="_blank">雨季不再来</a></li>
								<li><a href="/typetype" class="scroll" target="_blank">智能输入</a></li>
								<div class="clearfix"></div>
						</ul>
						<h3>Be Our Team</h3>
						<div class="box">
								<ul>
										<li>
												<div class="b_all b_il">
														<div class="boz">
																<h1>Zhang Jingjing</h1>
														</div>
												</div>
										</li>
										<li>
												<div class="b_all b_iz">
														<div class="boz">
																<h1>Bevis</h1>
														</div>
												</div>
										</li>
										<li>
												<div class="b_all b_ir">
														<div class="boz">
																<h1>Shen</h1>
														</div>
												</div>
										</li>
								</ul>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque justo ac velit facilisis
								convallis vel id. </p>
				</div>
		</div>
</div>
<div style='width:1170px;height:auto'>
	<video width="200px;" height="100%" style="background:url('/images/background/dot.png');z-index:2;" controls autoplay loop>
		<source src="/media/video/side.mp4" type="video/mp4">
		<object data="/media/video/side.mp4" width="100%" height="100%">
			<embed src="/media/video/side.mp4" width="100%" height="100%">
		</object>
	</video>
	<div id="Music">
			<div class="Audio">
					<div class="title" id="musicName"></div>
					<img src="/images/music/music.gif" width="100%" height="290" class="xxpic"/>
					<div class="Music_But">
							<div class="but">
									<span class="prev"></span>
									<span class="play"></span>
									<span class="next"></span>
							</div>
					</div>
			</div>
			<div class="Txt">
					<div class="title">Bevis Music</div>
					<ul>
							<li class="active"><a href="javascript:void(0);" dataSrc="../songs/2.mp3">当你老了</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/1.mp3">烛光里的妈妈</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/3.mp3">母亲</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/4.mp3">相亲相爱一家人</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/5.mp3">壮志在我胸</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/1.mp3">烛光里的妈妈</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/2.mp3">当你老了</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/3.mp3">母亲</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/4.mp3">相亲相爱一家人</a></li>
							<li><a href="javascript:void(0);" dataSrc="../songs/5.mp3">壮志在我胸</a></li>
					</ul>
			</div>
	</div>
</div>
<section class="pricing-tables">
		<div class="container">
				<h2>Bevis Missions</h2>
				<div class="row">
						<div class="col-md-3 col-sm-6">
								<div class="pricing text-center pricing-selected">
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-header">
																<h3>PROFESSIONAL</h3>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-price">
																FREE<br>
																<p class="text-sm">Duis aute irure dolor in repre.</p>
														</div>
												</div>
										</div>
										<div class="row">
												<ul class="list-unstyled pricing-features">
														<li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star6"></i><i
																		class="icon-star5"></i><i class="icon-star5"></i></li>
														<li>20 GB Diskspace</li>
														<li>100 GB Traffic</li>
														<li>100 Email Accounts</li>
												</ul>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-buttons">
																<a class="btn btn-block btn-primary">PURCHASE</a>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-md-3 col-sm-6">
								<div class="pricing text-center pricing-selected">
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-header">
																<h3>PROFESSIONAL</h3>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-price">
																<span class="pricing-currency">$</span>49<span class="pricing-period">/m</span><br>
																<p class="text-sm">Duis aute irure dolor in repre.</p>
														</div>
												</div>
										</div>
										<div class="row">
												<ul class="list-unstyled pricing-features">
														<li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star7"></i><i
																		class="icon-star5"></i><i class="icon-star5"></i></li>
														<li>20 GB Diskspace</li>
														<li>100 GB Traffic</li>
														<li>100 Email Accounts</li>
												</ul>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-buttons">
																<a class="btn btn-block btn-primary">PURCHASE</a>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-md-3 col-sm-6">
								<div class="pricing text-center pricing-selected">
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-header">
																<h3>PROFESSIONAL</h3>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-price">
																<span class="pricing-currency">$</span>79<span class="pricing-period">/m</span><br>
																<p class="text-sm">Duis aute irure dolor in repre.</p>
														</div>
												</div>
										</div>
										<div class="row">
												<ul class="list-unstyled pricing-features">
														<li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star7"></i><i
																		class="icon-star7"></i><i class="icon-star6"></i></li>
														<li>20 GB Diskspace</li>
														<li>100 GB Traffic</li>
														<li>100 Email Accounts</li>
												</ul>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-buttons">
																<a class="btn btn-block btn-primary">PURCHASE</a>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-md-3 col-sm-6">
								<div class="pricing text-center pricing-selected">
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-header">
																<h3>PROFESSIONAL</h3>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-price">
																<span class="pricing-currency">$</span>129<span class="pricing-period">/m</span><br>
																<p class="text-sm">Duis aute irure dolor in repre.</p>
														</div>
												</div>
										</div>
										<div class="row">
												<ul class="list-unstyled pricing-features">
														<li><i class="icon-star7"></i><i class="icon-star7"></i><i class="icon-star7"></i><i
																		class="icon-star7"></i><i class="icon-star7"></i></li>
														<li>20 GB Diskspace</li>
														<li>100 GB Traffic</li>
														<li>100 Email Accounts</li>
												</ul>
										</div>
										<div class="row">
												<div class="col-sm-12">
														<div class="pricing-buttons">
																<a class="btn btn-block btn-primary">PURCHASE</a>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>
<div class="services" id="services">
		<div class="col-md-6 services-left">
				<h2>My University</h2>
				<div class="col-md-12 services-left1">
						<p>Nanjing Information Engineering University, Nanjing Institute of Meteorology predecessor was founded in
								1960, is a national key university in 1978; in 1990, hosted the World Meteorological Organization (WMO)
								The first international training course - WMO Nanjing Regional Training Centre; 2004 It changed its name
								to Nanjing University of information Science.</p>
						<br>
						<p>Address: No. 219 Nanjing Road, Nanjing</p>
						<p>Bevis Phone: 13023981769</p>
				</div>
		</div>
		<div class="col-md-6 services-right">
				<div class="m_map" id="map"></div>
		</div>
		<div class="clearfix"></div>
</div>

{{#extend "scripts"}}
<script src="/js/baiduMap/baiduMap.js" type="text/javascript"></script>
<script src="/js/music/music.js"></script>
{{/extend}}
