{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/common/login.less"/>
{{/extend}}

<!--video background-->
<body data-vide-bg="media/video/ocean">

<div class="loginTitle">
    Welcome Bevis!
</div>

<div id="login">
    <div class="title">
        User Login
    </div>
    <div class="loginl">
        <form>
            <input type="text" class="txt" id="username" placeholder="E-mail / Name / QQ "/>
            <input type="password" class="txt pwd" id="password" placeholder="KeyCode"/>
            <span class="but" value="Login" id="loginSubmit">Login</span>
        </form>
        <div>
            <span class="tu">
                <i class="fa fa-fw fa-qq fa-2x"></i>
            </span>
            <span class="tu">
                <i class="fa fa-fw fa-wechat fa-2x"></i>
            </span>
            <span class="tu">
                <i class="fa fa-fw fa-weibo fa-2x"></i>
            </span>
            <span class="tu">
                <i class="fa fa-fw fa-share-alt fa-2x"></i>
            </span>
        </div>
    </div>
    <div class="loginr">
        <h3 class="wen">Had not an account? Register now!</h3>
        <a class="an" href="/register">Register!</a>
    </div>
</div>

{{#extend "scripts"}}
    <!-- this is the video background libs -->
    <script src="/js/libs/video/jquery.vide.js"></script>
    <script>
        $('#loginSubmit').on('click', function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var data = {"username": username, "password": password};
            $.ajax({
                url: '/api/login',
                type: 'POST',
                data: data,
                success: function (data, status) {
                    if (status == 'success') {
                        location.href = '/index';
                    }
                },
                error: function (data, status) {
                    if (status == "error") {
                        alert('Sorry, Login Failed.');
                        $('#username').val('');
                        $('#password').val('')
                    }
                }
            });
        });
    </script>
{{/extend}}