{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/number/number.less"/>
{{/extend}}

<div class="indexContent">
    <div class="sendInformation runNumber">
        How many people use it today : <p class="numberRun"></p>
    </div>
     <p class="sendInformation">
        <a class="black iconHover" href="http://fontawesome.dashgame.com/" target="_blank">
            <i class="fa fa-fort-awesome fa-fw"></i>&nbsp; You can visit the Official Website In China
        </a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="/">
            <i class="fa fa-home fa-fw"></i>&nbsp; Home &nbsp;
        </a>
        <a class="black iconHover" href="http://www.linkedin.com/in/bevis1991" target="_blank">
            <i class="fa fa-linkedin fa-fw"></i>&nbsp; Linkedin &nbsp;
        </a>
        <a class="black iconHover" href="https://www.facebook.com/bevis1991" target="_blank">
            <i class="fa fa-facebook fa-fw"></i>&nbsp; Facebook &nbsp;
        </a>
        <a class="black iconHover" href="https://github.com/utopia1991" target="_blank">
            <i class="fa fa-github fa-fw"></i>&nbsp; Github &nbsp;
        </a>
        <a class="black iconHover" href="https://github.com/utopia1991" target="_blank">
            <i class="fa fa-weibo fa-fw"></i>&nbsp; Weibo &nbsp;
        </a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-amazon"></i>&nbsp; amazon &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-android"></i>&nbsp; android &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-apple"></i>&nbsp; apple &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-chrome"></i>&nbsp; chrome &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-bluetooth"></i>&nbsp; bluetooth &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-codiepie"></i>&nbsp; codiepie &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-css3"></i>&nbsp; css3 &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-dashcube"></i>&nbsp; dashcube &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-delicious"></i>&nbsp; delicious &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-drupal"></i>&nbsp; drupal &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-edge"></i>&nbsp; edge &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-empire"></i>&nbsp; empire &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-expeditedssl"></i>&nbsp; expeditedssl &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-foursquare"></i>&nbsp; foursquare &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-git"></i>&nbsp; git &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-github"></i>&nbsp; github &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-google"></i>&nbsp; google &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-google-plus"></i>&nbsp; google-plus &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-html5"></i>&nbsp; html5 &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-instagram"></i>&nbsp; instagram &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-internet-explorer"></i>&nbsp; internet-explorer &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-linkedin"></i>&nbsp; linkedin &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-linux"></i>&nbsp; linux &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-opera"></i>&nbsp; opera &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-optin-monster"></i>&nbsp; optin-monster &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-pagelines"></i>&nbsp; pagelines &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-paypal"></i>&nbsp; paypal &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-pinterest-p"></i>&nbsp; pinterest-p &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-qq"></i>&nbsp; qq &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-renren"></i>&nbsp; renren &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-safari"></i>&nbsp; safari &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-share-alt"></i>&nbsp; share-alt &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-skype"></i>&nbsp; skype &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-stack-exchange"></i>&nbsp; stack-exchange &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-stack-overflow"></i>&nbsp; stack-overflow &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-tencent-weibo"></i>&nbsp; tencent-weibo &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-tumblr"></i>&nbsp; tumblr &nbsp;</a>
    </p>
    <p class="sendInformation">
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-twitter"></i>&nbsp; twitter &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-vimeo"></i>&nbsp; vimeo &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-windows"></i>&nbsp; windows &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-yahoo"></i>&nbsp; yahoo &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-youtube"></i>&nbsp; youtube &nbsp;</a>
        <a class="black iconHover" href="javascript:void(0)"><i class="fa fa-fw fa-plus fa-fw"></i>&nbsp; More &nbsp;</a>
    </p>
</div>

{{#extend "scripts"}}
    <script type="text/javascript" src="/js/number.js"></script>
    <script type="text/javascript" src="/js/base/base.js"></script>
    <script>
        $(function(){
            var numRun = $(".numberRun").numberAnimate({num:'1543242.10', dot:2, speed:2000, symbol:","});
            var nums = 1543242.10;
            setInterval(function(){
                nums += 3433.24;
                numRun.resetData(nums);
            },4000);
        });
    </script>
{{/extend}}
