{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/lottery/lottery.less"/>
{{/extend}}

<div class="indexContent">
    <div class="g-lottery-case">
        <div class="g-left">
            <h2>You Have <span class="playnum"></span> Chance，Run It Now~</h2>
            <div class="g-lottery-box">
                <div class="g-lottery-img">
                    <a class="playbtn" href="javascript:;" title="开始抽奖"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#extend "scripts"}}
    <script type="text/javascript" src="/js/libs/jquery.rotate.min.js"></script>
    <script type="text/javascript" src="/js/lottery/award.js"></script>
{{/extend}}
