<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/images/icons/icon.png"/>
    <link rel="stylesheet/less" type="text/css" href="/less/common/common.less"/>
    <link rel="stylesheet/less" type="text/css" href="/less/music/rain.less"/>
    <script type="text/javascript" src="/js/libs/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/libs/less.js"></script>
</head>
<body onload="run()">
<div class="page">
    <img id="rain" alt="rain" src="" />
    <audio src="/media/rain.m4a" id="audio" preload="auto" loop></audio>
    <div class="controller">
        <button id="play"> Play </button>
        <p class="volume">Volume :
            <input id="gain" class="range" type="range" min="0" max="1" step="0.01" value="1">
            <span id="gain-value"></span>
        </p>
        <button id="stop"> Stop </button>
        <a class="btn btn-4" id="control">
            <span>Play / Stop</span>
        </a>
    </div>
</div>
<script src="/js/music/rainyday.min.js"></script>
<script src="/js/music/rain.js"></script>
</body>
</html>
