{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/css/map/map.css"/>
  <link rel="stylesheet" type="text/css" href="/css/input/input.css"/>
{{/extend}}

{{#extend "libs"}}
  <script type="text/javascript" src="/js/snow/snowstorm-min.js"></script>
  <script type="text/javascript">
    snowStorm.snowColor = '#fff';       // blue-ish snow!?
    snowStorm.flakesMaxActive = 99;     // show more snow on screen at once
    snowStorm.useTwinkleEffect = true;  // let the snow flicker in and out of view
  </script>
{{/extend}}

<div class="m_map">
    <div class="travelTitle">
      The place what pointed are I want to travel and I had traveled.
    </div>
    <div class="travelTitle">
      In CHINA
    </div>
    <div class="travelTitle">
      <input type="text" placeholder="你想去的城市~">
    </div>
    <div class="mp mp3">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：成都未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">成都</div>
    </div>
    <div class="mp mp4">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：重庆未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">重庆</div>
    </div>
    <div class="mp mp7">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：昆明未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">昆明</div>
    </div>
    <div class="mp mp8">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：西安未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">西安</div>
    </div>
    <div class="mp mp11">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：武汉未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">武汉</div>
    </div>
    <div class="mp mp12">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：长沙未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">长沙</div>
    </div>
    <div class="mp mp13">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：南昌未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">南昌</div>
    </div>
    <div class="mp mp14">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：杭州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">杭州</div>
    </div>
    <div class="mp mp15">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：厦门未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">厦门</div>
    </div>
    <div class="mp mp16">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：广州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">广州</div>
    </div>
    <div class="mp mp17">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：深圳未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">深圳</div>
    </div>
    <div class="mp mp19">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：南京未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">南京</div>
    </div>
    <div class="mp mp20">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：上海未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">上海</div>
    </div>
    <div class="mp mp21">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：济南未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">济南</div>
    </div>
    <div class="mp mp22">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：青岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">青岛</div>
    </div>
    <div class="mp mp23">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：北京未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">北京</div>
    </div>
    <div class="mp mp33">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：苏州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">苏州</div>
    </div>
    <div class="mp mp36">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：洛阳岛未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">洛阳</div>
    </div>
    <div class="mp mp49">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：绍兴未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">绍兴</div>
    </div>
    <div class="mp mp51">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：福州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">福州</div>
    </div>
    <div class="mp mp52">
        <div class="feng">
            <div class="tree">
                <div class="sang"></div>
                <div class="boou"><img src="/images/map/boou.png" alt=""/></div>
                <div class="du_size">
                    <P>地址：泉州未央区未央宫街道未央路2号老三届首座大厦11208 </P>
                    <P>电话：029-68829598</P>
                </div>
            </div>
        </div>
        <div class="mito">泉州</div>
    </div>
</div>

{{#extend "scripts"}}
  <script type="text/javascript" src="/js/input/input.js"></script>
{{/extend}}
