{{#extend "stylesheets"}}
<style>
    body {
        text-align:center;
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
        background:rgb(51,51,51);
    }
    .textarea {
        margin: 0 auto;
        display:block;
        background:none;
        height:400px;
        width:500px;
        padding:10px;
        color:rgb(236,236,236);
        font-size:130%;
        border:1px solid rgb(171,202,243);
    }
</style>
{{/extend}}

<div class="indexContent">
    <textarea spellcheck="false" class="textarea"></textarea>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="/js/libs/jquery.typetype.min.js"></script>
<script type="text/javascript">
    function flashTextarea(){
        $('.ta').css({'outline':'1px solid rgba(255,255,0,0.7)'});
        setTimeout(function(){
            $('.ta').css({'outline':'1px solid rgba(255,255,0,0)'})
        },50)
    }

    $(function(){
        $('#usage').click(function(){
            this.focus();
            this.select()
        });
        $('.textarea').focus()
            .typetype("Hi, Jingjing Zhang! My name is Bevis Shen, Chinese name is Shen Hao. I am from Fujian, China. My job is a Node.js Engineer.", {
                callback: function() {
                    $('body').addClass('reveal')
                }
            }).delay(1500)
            .typetype("\nI love you, so I give the type to you.")
            .typetype("\nHei, Do you think it is so awesome! Right?",{
                keypress:flashTextarea,
                t:60,
                e:0
            })
            .typetype("Enh,what I want to say next...", {
                t:200,
                e:0.1,     // the default error rate is 0.04
                callback: function(){
                    $("#usage").addClass('show')
                }
            })
            .backspace(48)
            .typetype("OH,I Love You, Jingjing Zhang!")
    })
</script>
{{/extend}}
