body {
  background: rgba(0, 0, 0, 0.05);
}
.pricing-tables .pricing {
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pricing-tables .pricing:hover {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 0px 10px #666;
          box-shadow: 0px 0px 10px #666;
}
.pricing-tables .pricing .pricing-header {
  background: #abb7b7;
  padding: 15px;
}
.pricing-tables .pricing .pricing-header h3 {
  color: #fff;
  margin: 0px;
}
.pricing-tables .pricing .pricing-buttons {
  padding: 15px;
  padding-top: 0px;
}
.pricing-tables .pricing .pricing-price {
  font-size: 50px;
  font-weight: 300;
  background: #abb7b7;
  color: #fff;
  padding: 15px;
  padding-top: 0px;
  font-family: "Open Sans";
}
.pricing-tables .pricing .pricing-price p {
  color: #e2e6e6;
  margin-top: 10px;
}
.pricing-tables .pricing .pricing-price .text-sm {
  font-size: 13px;
}
.pricing-tables .pricing .pricing-features {
  line-height: 36px;
  padding: 30px 15px;
}
.pricing-tables .pricing .pricing-period {
  font-size: 16px;
}
.pricing-tables .pricing .pricing-currency {
  color: #fff;
  font-size: 18px;
  top: -20px;
  position: relative;
}
.pricing-tables .pricing.pricing-selected .pricing-price,
.pricing-tables .pricing.pricing-selected .pricing-header {
  background: #343838;
}
