body {
  background-image: url("/images/wechat/bg.png");
}
.weixinTitle {
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 15px auto;
}
#weixin {
  width: 1100px;
  height: 480px;
  margin: 10px auto;
}
#ewm {
  width: 373px;
  height: 497px;
  background-image: url("/images/wechat/weixin.png");
  margin: auto;
  position: relative;
}
#ewm div {
  width: 330px;
  height: 490px;
  background-image: url("/images/wechat/phone.png");
  opacity: 0;
  /*设置透明度*/
  position: absolute;
  /*出现的过渡效果，0.2s出现*/
  transition: All .5s linear;
  /*使代码与其他浏览器兼容*/
  -o-transition: All .5s linear;
  -moz-transition: All .5s linear;
  -webkit-transition: All .5s linear;
}
#ewm:hover div {
  opacity: 1;
  margin-left: 300px;
}
#rocket-to-top {
  display: none !important;
}
