{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/css/common/snake.css"/>
{{/extend}}

<!--<canvas id="stars"></canvas>-->
<div class="gameContent">
  <div id="pannel"></div>
  <div class="gameIcon">
    <i class="fa fa-wechat fa-fw fa-3x icon-transfer"></i>
    <i class="fa fa-weibo fa-fw fa-3x icon-transfer"></i>
    <i class="fa fa-facebook fa-fw fa-3x icon-transfer"></i>
    <i class="fa fa-qq fa-fw fa-3x icon-transfer"></i>
  </div>
</div>

{{#extend "scripts"}}
  <script src="/js/game/snake.js"></script>
{{/extend}}
