body {
  background: #343838;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearit {
  clear: both;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
.form-select .mr0 {
  margin-right: 0;
}
.tait {
  font-size: 36px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  left: 100px;
}
.tait span {
  color: #ff6d3b;
}
.tait2 {
  font-size: 36px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  padding: 50px 0px;
}
.mp {
  position: absolute;
  cursor: pointer;
  background: url(../../images/map/fi1.png) no-repeat 4px 20px;
  width: 24px;
  height: 63px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mp:hover {
  background: url(../../images/map/fi2.png) no-repeat 4px 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mp .mito {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 12px;
  color: #666666;
}
.mp .find_mi1 {
  left: -12px;
  width: 55px;
}
.mp .find_mi2 {
  left: -5px;
  width: 55px;
}
.hover_tu {
  background: url(../../images/map/fi2.png) no-repeat 4px 20px;
}
.feng {
  position: absolute;
  display: none;
  width: 347px;
  height: 85px;
  left: -230px;
  top: -78px;
  background: url(../../images/map/vf1.png) no-repeat 0 top;
  z-index: 10;
}
.feng .sang {
  position: absolute;
  left: 235px;
  bottom: 0px;
  background: url(../../images/map/vf2.png) no-repeat 0 0;
  width: 14px;
  height: 8px;
}
.feng .tree {
  height: 62px;
  width: 330px;
  margin: 9px;
}
.feng .tree .boou {
  width: 86px;
  height: 62px;
  float: left;
}
.feng .tree .du_size {
  float: right;
  height: 62px;
  width: 230px;
}
.feng .tree .du_size p {
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}
.m_map {
  width: 989px;
  height: 724px;
  margin: 50px auto;
  position: relative;
  background: url(../../images/map/diru.png) no-repeat 0 0;
}
.m_map .mp1 {
  left: 243px;
  top: 272px;
}
.m_map .mp2 {
  left: 341px;
  top: 349px;
}
.m_map .mp3 {
  left: 446px;
  top: 474px;
}
.m_map .mp4 {
  left: 524px;
  top: 474px;
}
.m_map .mp5 {
  left: 524px;
  top: 538px;
}
.m_map .mp6 {
  left: 545px;
  top: 594px;
}
.m_map .mp7 {
  left: 428px;
  top: 585px;
}
.m_map .mp8 {
  left: 548px;
  top: 407px;
}
.m_map .mp9 {
  left: 625px;
  top: 398px;
}
.m_map .mp11 {
  left: 643px;
  top: 454px;
}
.m_map .mp12 {
  left: 611px;
  top: 503px;
}
.m_map .mp13 {
  left: 668px;
  top: 496px;
}
.m_map .mp14 {
  left: 742px;
  top: 498px;
}
.m_map .mp15 {
  left: 699px;
  top: 557px;
}
.m_map .mp16 {
  left: 618px;
  top: 581px;
}
.m_map .mp17 {
  left: 646px;
  top: 604px;
}
.m_map .mp18 {
  left: 692px;
  top: 443px;
}
.m_map .mp19 {
  left: 727px;
  top: 428px;
}
.m_map .mp20 {
  left: 768px;
  top: 442px;
}
.m_map .mp21 {
  left: 694px;
  top: 345px;
}
.m_map .mp22 {
  left: 745px;
  top: 345px;
}
.m_map .mp23 {
  left: 681px;
  top: 266px;
}
.m_map .mp24 {
  left: 711px;
  top: 266px;
}
.m_map .mp25 {
  left: 790px;
  top: 256px;
}
.m_map .mp26 {
  left: 825px;
  top: 187px;
}
.m_map .mp27 {
  left: 864px;
  top: 103px;
}
.m_map .mp28 {
  left: 573px;
  top: 573px;
}
.m_map .mp29 {
  left: 746px;
  top: 441px;
}
.m_map .mp30 {
  left: 673px;
  top: 592px;
}
.m_map .mp32 {
  left: 604px;
  top: 626px;
}
.m_map .mp33 {
  left: 749px;
  top: 436px;
}
.m_map .mp34 {
  left: 753px;
  top: 210px;
}
.m_map .mp35 {
  left: 753px;
  top: 391px;
}
.m_map .mp36 {
  left: 596px;
  top: 415px;
}
.m_map .mp37 {
  left: 575px;
  top: 435px;
}
.m_map .mp38 {
  left: 589px;
  top: 365px;
}
.m_map .mp39 {
  left: 575px;
  top: 316px;
}
.m_map .mp40 {
  left: 612px;
  top: 266px;
}
.m_map .mp41 {
  left: 778px;
  top: 495px;
}
.m_map .mp42 {
  left: 718px;
  top: 318px;
}
.m_map .mp43 {
  left: 653px;
  top: 545px;
}
.m_map .mp44 {
  left: 769px;
  top: 593px;
}
.m_map .mp45 {
  left: 800px;
  top: 524px;
}
.m_map .mp46 {
  left: 633px;
  top: 525px;
}
.m_map .mp47 {
  left: 499px;
  top: 354px;
}
.m_map .mp48 {
  left: 763px;
  top: 543px;
}
.m_map .mp49 {
  left: 760px;
  top: 485px;
}
.m_map .mp50 {
  left: 722px;
  top: 544px;
}
.m_map .mp51 {
  left: 706px;
  top: 501px;
}
.m_map .mp52 {
  left: 713px;
  top: 545px;
}
.m_map .mp53 {
  left: 406px;
  top: 515px;
}
.m_map .mp54 {
  left: 570px;
  top: 621px;
}
.m_map .mp55 {
  left: 658px;
  top: 347px;
}
.m_map .mp56 {
  left: 651px;
  top: 397px;
}
.m_map .mp57 {
  left: 492px;
  top: 420px;
}
.m_map .mp58 {
  left: 549px;
  top: 297px;
}
.m_map .mp59 {
  left: 704px;
  top: 398px;
}
.m_map .mp60 {
  left: 556px;
  top: 527px;
}
.m_map .mp61 {
  left: 551px;
  top: 455px;
}
.m_map .mp62 {
  left: 582px;
  top: 488px;
}
.m_map .travelTitle {
  text-align: center;
  margin-top: 20px;
  position: relative;
  font-size: 30px;
  width: 100%;
  color: #fff;
}
.m_map .travelTitle input {
  border-radius: 5px;
  font-family: cute;
  font-size: 20px;
  width: 250px;
  height: 40px;
}
